<VirtualHost *:8080>
	ServerAdmin webserver@somesite.com
	#ServerAlias www.somesite.com

	DocumentRoot /var/www/html

	<Directory /var/www/html/
	Options -Indexes -FollowSymLinks
	AllowOverride None
	Order allow,deny
	allow from all
	</Directory>
</VirtualHost>
