# **IMPORTANT** Lists with commas must NOT have spaces!

# Trusted Locations: 
TRUSTED1={{ethernet.TRUSTED_IPF1}}
{% if ethernet.TRUSTED_IPF24 is defined %}
TRUSTED2={{ethernet.TRUSTED_IPF24}}
{% else %}
TRUSTED2=127.0.0.1
{% endif %}

# Monitoring provided by Third Party: 
{% if ipv4classc is defined and 'ovh' in ansible_domain %}
MONTHIRD1={{ipv4classc.stdout}}.250,{{ipv4classc.stdout}}.251
{% elif ipv4classc is defined and 'kimsufi' in ansible_domain %}
MONTHIRD1={{ipv4classc.stdout}}.250,{{ipv4classc.stdout}}.251
{% elif ethernet.MONTHIRD1_IPF is defined %}
MONTHIRD1={{ethernet.MONTHIRD1_IPF}}
{% else %}
MONTHIRD1=127.0.0.1
{% endif %}
MONTHIRD2=127.0.0.1
MONTHIRD3=127.0.0.1
MONTHIRD4=127.0.0.1
MONTHIRD5=127.0.0.1

# Monitoring nrpe
{% if ethernet.MONNRPE_IPF is defined %}
MONNRPE={{ethernet.MONNRPE_IPF}}
{% else %}
MONNRPE=127.0.0.1
{% endif %}

# Monitoring own
{% if ethernet.MONFIRST_IPF is defined %}
MONFIRST={{ethernet.MONFIRST_IPF}}
{% else %}
MONFIRST=127.0.0.1
{% endif %}

# Load in any custom params this site may need
INCLUDE params.custom
# Last line, do not remove
