# Edit the file rules.custom on the remote server for local overrides
# Edit the file rules.shared (or template) in source control to change the central policy (rare)
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#
DNS/ACCEPT	net:$TRUSTED1	$FW
DNS/ACCEPT	net:$TRUSTED2	$FW
DNS/ACCEPT	net:$MONFIRST	$FW
DNS/ACCEPT	net:$MONNRPE	$FW
{% if 'ovh' in ansible_domain or 'kimsufi' in ansible_domain %}
DNS/ACCEPT	net:proxy.ovh.net			$FW
DNS/ACCEPT	net:proxy.p19.ovh.net			$FW
DNS/ACCEPT	net:proxy.rbx.ovh.net			$FW
DNS/ACCEPT	net:proxy.rbx2.ovh.net			$FW
DNS/ACCEPT	net:ping.ovh.net			$FW
DNS/ACCEPT	net:a2.ovh.net				$FW
DNS/ACCEPT	net:213.186.33.62			$FW
{% endif %}

Telnet/ACCEPT	net:$TRUSTED1	$FW
Telnet/ACCEPT	net:$TRUSTED2	$FW
Telnet/ACCEPT	net:$MONFIRST	$FW
Telnet/ACCEPT	net:$MONNRPE	$FW

Telnets/ACCEPT	net:$TRUSTED1	$FW
Telnets/ACCEPT	net:$TRUSTED2	$FW
Telnets/ACCEPT	net:$MONFIRST	$FW
Telnets/ACCEPT	net:$MONNRPE	$FW

SSH/ACCEPT	net:$TRUSTED1	$FW
SSH/ACCEPT	net:$TRUSTED2	$FW
SSH/ACCEPT	net:$MONFIRST	$FW
SSH/ACCEPT	net:$MONNRPE	$FW
{% if 'ovh' in ansible_domain or 'kimsufi' in ansible_domain %}
SSH/ACCEPT	net:proxy.ovh.net			$FW
SSH/ACCEPT	net:proxy.p19.ovh.net			$FW
SSH/ACCEPT	net:proxy.rbx.ovh.net			$FW
SSH/ACCEPT	net:proxy.rbx2.ovh.net			$FW
SSH/ACCEPT	net:ping.ovh.net			$FW
SSH/ACCEPT	net:a2.ovh.net				$FW
SSH/ACCEPT	net:213.186.33.62			$FW
{% endif %}

ACCEPT		net:$TRUSTED1	$FW	tcp	5222
ACCEPT		net:$TRUSTED2	$FW	tcp	5222

#ACCEPT		net:$MONFIRST	$FW	tcp	80
#ACCEPT		net:$MONFIRST	$FW	tcp	443
ACCEPT		net:$TRUSTED1	$FW	tcp	15666
ACCEPT		net:$MONNRPE	$FW	tcp	15666
ACCEPT		net:$MONFIRST	$FW	tcp	15666

#ACCEPT		net:$MONTHIRD1	$FW	tcp	4166
#ACCEPT		net:$MONTHIRD1	$FW	icmp
#ACCEPT		net:$MONTHIRD1	$FW	icmp

Ping/ACCEPT	net:$TRUSTED1	$FW
Ping/ACCEPT	net:$TRUSTED2	$FW
Ping/ACCEPT	net:$MONNRPE	$FW
Ping/ACCEPT	net:$MONFIRST	$FW
Ping/ACCEPT	net:$MONTHIRD1	$FW
#Ping/ACCEPT	net:$MONTHIRD2	$FW
#Ping/ACCEPT	net:$MONTHIRD3	$FW
#Ping/ACCEPT	net:$MONTHIRD4	$FW
#Ping/ACCEPT	net:$MONTHIRD5	$FW
{% if ip4policy is defined and ip4policy.ping == 'accept' %}
Ping/ACCEPT	net			$FW
{% else %}
Ping/REJECT	net			$FW
{% endif %}

Web/ACCEPT	net:$TRUSTED1	$FW
Web/ACCEPT	net:$TRUSTED2	$FW
Web/ACCEPT	net:$MONNRPE	$FW
Web/ACCEPT	net:$MONTHIRD1	$FW
#Web/ACCEPT	net:$MONTHIRD2	$FW
#Web/ACCEPT	net:$MONTHIRD3	$FW
#Web/ACCEPT	net:$MONTHIRD4	$FW
#Web/ACCEPT	net:$MONTHIRD5	$FW
{% if ip4policy is defined and ip4policy.web == 'accept' %}
Web/ACCEPT	net			$FW
{% else %}
#Web/ACCEPT	net			$FW
{% endif %}

{% if 'ovh' in ansible_domain or 'kimsufi' in ansible_domain %}
Ping/ACCEPT	net:proxy.ovh.net			$FW
Ping/ACCEPT	net:proxy.p19.ovh.net			$FW
Ping/ACCEPT	net:proxy.rbx.ovh.net			$FW
Ping/ACCEPT	net:proxy.rbx2.ovh.net			$FW
Ping/ACCEPT	net:ping.ovh.net			$FW
Ping/ACCEPT	net:a2.ovh.net				$FW
Ping/ACCEPT	net:213.186.33.62			$FW
Web/ACCEPT	net:proxy.ovh.net			$FW
Web/ACCEPT	net:proxy.p19.ovh.net			$FW
Web/ACCEPT	net:proxy.rbx.ovh.net			$FW
Web/ACCEPT	net:proxy.rbx2.ovh.net			$FW
Web/ACCEPT	net:ping.ovh.net			$FW
Web/ACCEPT	net:a2.ovh.net				$FW
Web/ACCEPT	net:213.186.33.62			$FW
{% endif %}

# Load in custom rules for this site
INCLUDE rules.custom
# Keep this line at the bottom