# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml 'sudoers/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_map = salt['grains.filter_by']({
    'RedHat': {
    },
    'CentOS': {
    },
  }
  , grain="os"
  , merge=salt['pillar.get']('sudoers'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.sudoers.update(os_map) %}

{## Merge in sudoers pillar ##}
{% set sudoers = salt['pillar.get'](
        'sudoers',
        default=default_settings.sudoers,
        merge=True
    )
%}
