# m h  dom mon dow   user	command
# MAILTO=someuser@some.com

PATH=/usr/sbin:/usr/bin:/sbin:/bin
#PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Update and Upgrade Debian system using apt
{% if upgradehour is defined %}
10 {{upgradehour}}    * * *   root	( date && apt-get -q update && apt-get -qy upgrade -u && date ) >> /var/log/updateupgrade.log 2>&1
{% else %}
10 17    * * *   root	( date && apt-get -q update && apt-get -qy upgrade -u && date ) >> /var/log/updateupgrade.log 2>&1
{% endif %}

