# Hosts based on templates in here. Example: define host { use ha-host ...
# Use bare elem instead of {{elem}} within loop to avoid ansible warning
{% if monsubjects is defined and monsubjects.ha_host is defined %}
{% for elem in hostnames_ha_host.results %}
define host {
    use        ha-host
    host_name  elem.stdout
    address    elem.item
}
{% endfor %}
{% endif %}
