#!/usr/bin/env python
from __future__ import print_function
import psycopg2
{% if postgres8.webuser is defined %}
connectuser='{{postgres8.webuser}}'
try:
    connectstring = "dbname='employees' user='{0}'".format(connectuser)
    connectstring = "{0} password='{1}'".format(connectstring,'{{postgres8.webword}}')
    conn = psycopg2.connect(connectstring)
except:
    print("Unable to connect to Postgresql as user {0}".format(connectuser))
    exit(1)
{% else %}
connectuser='placeholder8'
try:
    connectstring = "dbname='employees' user='{0}' host='127.0.0.1'".format(connectuser)
    print("Connecting using password appending to connectstring={0}".format(connectstring))
    connectstring = "{0} password='placeholder8'".format(connectstring)
    conn = psycopg2.connect(connectstring)
except:
    print("Unable to connect to Postgresql as user {0}".format(connectuser))
    exit(1)
{% endif %}

with conn.cursor() as curs:
    curs.execute("select now()::time as nowtime;")
    result = curs.fetchone()
    print(result[0])

conn.close()

"""
with conn.cursor(cursor_factory=psycopg2.extras.DictCursor) as curs:
    curs.execute("select now()::time as nowtime;")
    result = curs.fetchone()
    print(result['nowtime'])
    conn.close()
"""
