# memcached default config file
# 2003 - Jay Bonci <jaybonci@debian.org>
# This configuration file is read by the start-memcached script provided as
# part of the Debian GNU/Linux distribution. 

# Run memcached as a daemon. This command is implied, and is not needed for the
# daemon to run. See the README.Debian that comes with this package for more
# information.
-d

# Log memcached's output to /var/log/memcached
logfile /var/log/memcached/memcached.log

# Be verbose
# -v
{% if memcached is defined and memcached.cached_verbosity == 'v' %}
-v
{% endif %}

# Be even more verbose (print client commands as well)
# -vv
{% if memcached is defined and memcached.cached_verbosity == 'vv' %}
-vv
{% endif %}

# Start with a cap of 64 megs of memory. It's reasonable, and the daemon default
# Note that the daemon will grow to this size, but does not start out holding this much
# memory
{% if memcached is defined and memcached.cached_port > 11000 %}
-m {{memcached.cached_memory}}
{% else %}
-m 64
{% endif %}

# Default connection port is 11211
{% if memcached is defined and memcached.cached_port > 11000 %}
-p {{memcached.cached_port}}
{% else %}
-p 11211 
{% endif %}




# Run the daemon as root. The start-memcached will default to running as root if no
# -u command is present in this config file
-u nobody

# Specify which IP address to listen on. The default is to listen on all IP addresses
# This parameter is one of the only security measures that memcached has, so make sure
# it's listening on a firewalled interface.
{% if memcached is defined and memcached.cached_port_external > 2120 %}
-l {{ansible_default_ipv4.address}}
{% else %}
-l 127.0.0.1
{% endif %}

# Limit the number of simultaneous incoming connections. The daemon default is 1024
# -c 1024
{% if memcached is defined and memcached.cached_connlimit > 5 %}
-c {{memcached.cached_connlimit}}
{% endif %}

# Lock down all paged memory. Consult with the README and homepage before you do this
# -k

# Return error when memory is exhausted (rather than removing items)
# -M

# Maximize core file limit
# -r
