{{ ansible_managed|truncate(100, false) }}
"inventory_hostname" is {{ inventory_hostname }}
run_date is {{template_run_date}}
{% if ipv4classc is defined %}
ipv4classc={{ipv4classc.stdout}}
{% else %}
ipv4classc is not defined so not printed here
{% endif %}
# Report on distribution and group_names
distribution={{ansible_distribution}}
group_names={{group_names}}
{% if 'Debian' in group_names %}
groupDebian={{ansible_hostname}}
{% endif %}
