#!/usr/bin/env python
# -*- coding: utf-8 -*-

from datetime import datetime as dt

""" from os import linesep as oslinesep
OSLINESEP=oslinesep
Although we include the facility this will be a local decision
for the user / implementer
"""
OSLINESEP='\n'
{% if pfilter.logpath is defined and pfilter.logfile is defined %}
LOGFILE='{{pfilter.logpath}}/{{pfilter.logfile}}'
{% else %}
LOGFILE='/var/log/pfilter/pfilter.log'
{% endif %}

isonow=dt.isoformat(dt.now())
with open(LOGFILE, 'a') as plog:
    plog.write("{0} Postfix filter Python initiated.{1}".format(
            isonow,OSLINESEP))

