#
# Postfix master process configuration file.  For details on the format
# of the file, see the master(5) manual page (command: "man 5 master").
#
# Do not forget to execute "postfix reload" after editing this file.
#
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
#               (yes)   (yes)   (yes)   (never) (100)
# ==========================================================================
{% if postfix.smtpmaxproc is defined and postfix.smtpmaxproc > 0 %}
smtp      inet  n       -       n       -       {{postfix.smtpmaxproc}}       smtpd
{% else %}
smtp      inet  n       -       n       -       -       smtpd
{% endif %}
#        -o content_filter=cfilter1:dummy
#submission inet n       -       n       -       -       smtpd
#  -o smtpd_tls_security_level=encrypt
#  -o smtpd_sasl_auth_enable=yes
#  -o smtpd_client_restrictions=permit_sasl_authenticated,reject
#  -o milter_macro_daemon_name=ORIGINATING
#smtps     inet  n       -       n       -       -       smtpd
#  -o smtpd_tls_wrappermode=yes
#  -o smtpd_sasl_auth_enable=yes
#  -o smtpd_client_restrictions=permit_sasl_authenticated,reject
#  -o milter_macro_daemon_name=ORIGINATING
#628      inet  n       -       n       -       -       qmqpd
pickup    fifo  n       -       n       60      1       pickup
#        -o content_filter=cfilter2:dummy
cleanup   unix  n       -       n       -       0       cleanup
qmgr      fifo  n       -       n       300     1       qmgr
#qmgr     fifo  n       -       n       300     1       oqmgr
tlsmgr    unix  -       -       n       1000?   1       tlsmgr
rewrite   unix  -       -       n       -       -       trivial-rewrite
bounce    unix  -       -       n       -       0       bounce
defer     unix  -       -       n       -       0       bounce
trace     unix  -       -       n       -       0       bounce
verify    unix  -       -       n       -       1       verify
flush     unix  n       -       n       1000?   0       flush
proxymap  unix  -       -       n       -       -       proxymap
proxywrite unix -       -       n       -       1       proxymap
smtp      unix  -       -       n       -       -       smtp
# When relaying mail as backup MX, disable fallback_relay to avoid MX loops
relay     unix  -       -       n       -       -       smtp
	-o smtp_fallback_relay=
#       -o smtp_helo_timeout=5 -o smtp_connect_timeout=5
showq     unix  n       -       n       -       -       showq
error     unix  -       -       n       -       -       error
retry     unix  -       -       n       -       -       error
discard   unix  -       -       n       -       -       discard
local     unix  -       n       n       -       -       local
virtual   unix  -       n       n       -       -       virtual
lmtp      unix  -       -       n       -       -       lmtp
anvil     unix  -       -       n       -       1       anvil
scache    unix  -       -       n       -       1       scache
{% if postfix.smtpmaxproc is defined and postfix.smtpmaxproc > 0 %}
cfilter1 unix  -       n       n       -       {{postfix.smtpmaxproc}}       pipe
{% else %}
cfilter1 unix  -       n       n       -       -       pipe
{% endif %}
  flags=FR user=pfilter argv=/usr/local/pfilter/cfilter1.py ${sender} ${size} ${recipient}
{# -F for Prepend a "From sender time_stamp" envelope header to the message  content #}
{% if postfix.smtpmaxproc is defined and postfix.smtpmaxproc > 0 %}
cfilter2 unix  -       n       n       -       {{postfix.smtpmaxproc}}       pipe
{% else %}
cfilter2 unix  -       n       n       -       -       pipe
{% endif %}
  flags=FR user=pfilter argv=/usr/local/pfilter/cfilter2.py ${recipient}
# cfilter1 and cfilter2 are similar definitions under two different labels
# so that you might enable smtp option and/or pickup option independently
# or use them in any other way your configuration prefers

#
